! ---------- EXTERNAL CORE BGP ----------
router bgp {{ device.bgp_asn }}

! ---------- eBGP DCI PEERING (BORDER GATEWAYS ONLY) ----------
{% for nbr in device.bgp_neighbors | default([]) %}
  neighbor {{ nbr.ip }}
    remote-as {{ nbr.remote_as }}
    description {{ nbr.description }}
{% if nbr.remote_as == 65000 %}
    bfd
    timers 3 9
    address-family ipv4 unicast
      send-community both
      soft-reconfiguration inbound
      route-map RM-{{ device.site }}-OUT out
{% endif %}
{% endfor %}
