! ---- System & Features ----
{% for feature in features %}
feature {{ feature }}
{% endfor %}

fabric forwarding anycast-gateway-mac {{ env.fabric.overlay_anycast_gateway_mac }}

! ---- Domain & SSH ----
ip domain-name {{ dns_domain | default(system.domain_name) }}
ip domain-lookup
feature ssh
ssh login-attempts {{ system.ssh_login_attempts | default(5) }}
ssh source-interface {{ env.mgmt_source_interface | default('mgmt0') }}

system memory-threshold minor {{ system.memory_thresholds.minor | default(96) }}
system memory-threshold severe {{ system.memory_thresholds.severe | default(97) }}
system memory-threshold critical {{ system.memory_thresholds.critical | default(98) }}

! ---- RSA & Certificate Enrollment ----
crypto key generate rsa label {{ certificates.rsa_label | default('NXOS-FABRIC-DEMO') }} exportable modulus {{ certificates.modulus | default(2048) }}
crypto ca trustpoint {{ certificates.trustpoint | default('DEMO-CA') }}
  enrollment terminal
  rsakeypair {{ certificates.rsa_label | default('NXOS-FABRIC-DEMO') }}
  revocation-check {{ certificates.revocation_check | default('none') }}

! ---- Local Users ----
{% for user in local_users %}
username {{ user.username }} password {{ user.password_hash }} role {{ user.role }}
{% if user.passphrase is defined %}
username {{ user.username }} passphrase lifetime {{ user.passphrase.lifetime_days }} warntime {{ user.passphrase.warn_days }} gracetime {{ user.passphrase.grace_days }}
{% endif %}
{% endfor %}

! ---- Banner ----
banner motd #
{{ banner | indent(1, false) }}
#
