! ---------- TCAM Carving ----------
hardware access-list tcam region ing-racl 512
hardware access-list tcam region egr-racl 768
hardware access-list tcam region ing-l2-qos 1792
hardware access-list tcam region ing-sup 768
hardware access-list tcam region egr-l2-qos 512
hardware access-list tcam region egr-l3-vlan-qos 512

