{# ============================================================ #}
{# NTP + LOGGING CONFIGURATION BLOCK                            #}
{# ============================================================ #}

{% if ntp is defined %}
! ---------- NTP CONFIGURATION ----------
{% if ntp.servers is defined and ntp.servers %}
  {% for srv in ntp.servers %}
ntp server {{ srv.ip }}{% if srv.vrf is defined %} use-vrf {{ srv.vrf }}{% endif %}{% if srv.prefer | default(false) %} prefer{% endif %}{{ "\n" }}
  {% endfor %}
{% endif %}

{% if ntp.source_interface is defined %}
ntp source-interface {{ ntp.source_interface }}
{% endif %}

{% if ntp.authentication_key is defined %}
ntp authentication-key {{ ntp.authentication_key.id }} {{ ntp.authentication_key.algorithm }} {{ ntp.authentication_key.value }}
ntp authenticate
ntp trusted-key {{ ntp.authentication_key.id }}
{% endif %}

{% if ntp.logging %}
ntp logging
{% endif %}
{% endif %}


{% if logging is defined %}
! ---------- LOGGING CONFIGURATION ----------
{% if logging.console is defined %}
logging console {{ logging.console }}
logging origin-id hostname
{% endif %}
{% if logging.monitor is defined %}
logging monitor {{ logging.monitor }}
{% endif %}
{% if logging.buffered is defined %}
logging buffered {{ logging.buffered.size }} {{ logging.buffered.level }}
{% endif %}
{% if logging.logfile is defined %}
logging logfile {{ logging.logfile.name }} {{ logging.logfile.severity }} size {{ logging.logfile.size }}
{% endif %}
{% if logging.servers is defined and logging.servers %}
  {% for server in logging.servers %}
logging server {{ server.ip }} {{ server.severity }}{% if server.secure %} secure{% endif %}{% if server.vrf is defined %} use-vrf {{ server.vrf }}{% endif %}{{ "" }}
{% if server.port is defined %}logging server {{ server.ip }} port {{ server.port }}{% endif %}

  {% endfor %}
{% endif %}
{% if acl_logging is defined and acl_logging.enabled %}
logging ip access-list cache interval {{ acl_logging.cache_interval | default(300) }}
logging ip access-list cache entries {{ acl_logging.cache_entries | default(8000) }}
{% if acl_logging.detailed | default(true) %}
logging ip access-list detailed
{% endif %}
hardware rate-limiter access-list-log {{ acl_logging.rate_limiter_pps | default(50) }}
{% endif %}
{% if logging.source_interface is defined %}
logging source-interface {{ logging.source_interface }}
{% endif %}
{% if logging.timestamp is defined %}
logging timestamp {{ logging.timestamp }}
{% endif %}
{% if logging.module is defined %}
logging module {{ logging.module }}
{% endif %}
{% if logging.secure_ocsp_strict is defined and not logging.secure_ocsp_strict %}
no logging secure ocsp strict
{% endif %}
{% endif %}
